body {
  height: 2000px;
  width: 100%;
  background-color: rgba(26, 25, 29, 1);
}

.gradient1 {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #1c8351 -5%, rgba(0, 0, 0, 0) 90%);
  z-index: -10;
}

.text-navbar {
  color: white;
  background-color: #fff;
}

.jumbotron {
  /* padding-inline-start: 5rem; */
  padding: 0rem 2rem;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto Mono", monospace;
}

.pp-title {
  font-size: 110px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* position: relative;
  bottom: 70px;
  z-index: 10; */
}

.pp-subtitle {
  font-weight: 400;
}

.pp-position {
  position: relative;
  bottom: 70px;
  z-index: 10;
}

.about {
}

.about-description {
  padding: 0px 230px;
  text-align: justify;
}

.text-custom {
  color: #21c946;
}

.btn-custom {
  color: #fff;
  background-color: #21c946;
  border-color: #21c946;
}

.btn-custom:hover {
  color: #fff;
  background-color: #21c946;
  border-color: #03ff64;
}
